<div class="container">
  <div class="trackInfo">
    <img id="trackImage" class="trackImage" [src]="trackImage" [class.visible]="trackImage">
    <div class="progress">
      <svg class="" width="100%" height="20">
        <rect [style.width]="progressStyle" height="20" />
      </svg>
    </div>
    <span class="trackMainInfo">{{trackName}} * {{trackArtist}}</span>
    <span class="trackAlbum">{{trackAlbum}}</span>
    <span class="trackDevice" *ngIf="device">{{device.id}}</span>
  </div>

  <div class="queue">
    <span class="label">Next titles:</span>
    <div class="list">
      <div class="item" *ngFor="let item of queue; let i = index">
        <img [src]="item.image">
        <div class="text">
          <span class="title">{{item.title}}</span>
          <span class="artist">{{item.artist}}</span>
        </div>
        <img *ngIf="mode != 'player'" src="./../../assets/image/clear.svg" class="remove" (click)="removeFromQueue(i)">
      </div>
    </div>
  </div>
</div>
<div class="background" [style.background]="'url(' + trackImage + ')'">
</div>
