
<div class="container">
  <app-player></app-player>
  <div class="routerContainer">
    <router-outlet></router-outlet>
    <div class="nav">
      <div class="item" (click)="goTo('search')"><img src="./../assets/image/search.svg"></div>
      <div class="item" (click)="goTo('settings')"><img src="./../assets/image/settings.svg"></div>
    </div>
  </div>
</div>

<div class="notification" [class.visible]="!hasPremium">
  <div class="playerError" [class.visible]="notification">
    <span>{{notification}}</span>
  </div>
  <div class="notification hasPremium" >
    <span>Premium is required to use this app</span>
  </div>
</div>